<h4 mat-dialog-title>{{titleLanguage}}</h4>
<form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()" >
  <mat-dialog-content>    
    <mat-form-field id="email">
      <input type="text"
      formControlName="field_0_email"
      [ngModel]="somethingChild?.email"
      matInput placeholder="{{placeholderToEmail}}">
    </mat-form-field>

    <mat-error *ngIf="forgotPasswordForm.controls.field_0_email.hasError('required') && forgotPasswordForm.controls.field_0_email.touched">
      <span *ngIf="data.language == 'pt-br'">Campo obrigatório</span>
      <span *ngIf="data.language == 'en-us'">Required field</span>
    </mat-error>

    <mat-error *ngIf="!forgotPasswordForm.controls.field_0_email.hasError('required') && !forgotPasswordForm.controls.field_0_email.valid && forgotPasswordForm.controls.field_0_email.touched">
      <span *ngIf="data.language == 'pt-br'">E-mail inválido</span>
      <span *ngIf="data.language == 'en-us'">Invalid e-mail</span>
    </mat-error>
  </mat-dialog-content>

  <mat-dialog-actions>
      <button type="submit" mat-raised-button [disabled]="!forgotPasswordForm.valid">
        {{submitButton}}
      </button>
  </mat-dialog-actions>
</form>